/* The @import rule allows you to import a style sheet into another style sheet */
/* Fonts - GoogleFont */
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Lato|Nunito+Sans:400,600);

body {
	margin: 0;
}

/* navigation */
.flex-sm-fill {
	color: #51afa1;	
	background-color: #02352d;
}

#home {
	color: #02352d;
	background-color: white;
	/* opacity: 0.6; */
}

h1 {
	font-size: 6em;
	margin: .67em 0;
	font-family: Abril Fatface, Times New Roman, sans-serif;
	font-weight: 500;
	line-height: 1.1;
	color: #fdfefe;
}

h2,
h3,
h4 {
	font-family: Abril Fatface, Times New Roman, Times, serif;
	font-weight: 500;
	line-height: 1.1;
	color: #000;
}
.subtitle{
	font-size: 1.5em;
	font-family: Nunito Sans, Times New Roman, sans-serif;
	color: #fdfefe;
}
p {
	font-size: 1em;
	font-family: Nunito Sans, Times New Roman, sans-serif;
	color: #0c0e0e;
}
.background-image-container {
	position: relative;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	padding: 12% 0;
}

/* header image overlay */
.overlay {
	background-color: rgba(245, 235, 235, 0.2);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Container Spacing */
.section-container{
	padding-top: 50px;
	padding-bottom: 50px;
}

/* Section: The Place to */
.text-center{
	padding-bottom: 30px;
}

/* Font Awesome */
.fa-container {
	text-align: center;
	color: #000;
}
.fa-container,
p {
	text-align: center;
	color: #000;
}

 /* Section: About Us */

 .half-left  img {
   height: auto;
   width: 100%;
 }

.half-right h2{
	text-align: center;
	margin-top: 20px;;	
}

.half-right h4{
	text-align: center;	
	color:darkslategray;
	padding:10px;
}

.half-right p{
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

/* Section: Creator Space */
#card-text,p{
	margin-top: 1em;
	padding-top: 0.5em; 
}

/* New Section: Form */

h2.text-center {
	text-align: center;
}
.contact-form-container {
	background-color: #fff;
	position: relative;
}

.form-group{
	padding: 1em;
}

.form-button{
	padding-left:1em;
}

.checkbox-inline{
	padding-left: 1em;
}

.btn-primary {
	color: #fff;
	background-color: #51afa1;
	border-color: #8acfc5;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.card-img-top {
	transition:all 1s;	
}

.card-img-top:hover {
	transform: scale(1.1);	
}

.card-text {
	font-size: 1em;
	font-family: Nunito Sans, Times New Roman, sans-serif;
	color: #0c0e0e;
}

/* footer section */
.site-footer {
	position: static;
	left: 0;
	bottom: 0;
	height: 2.5rem;
	width: 100%;
	background-color: #5cbbad;
	text-align: center;
 } 


